header {
    background-image: url(../images/appllyBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    text-align: center;
    padding-bottom:60px;
}
header h1 {
    font-size: 60px;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 30px; font-weight:bold !important;
}
header p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 60px;
}
/************* DEMO DAY **********/
.demoDay {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}
.firstDivDemoDay {
    margin-top: 90px;
    margin-bottom: 60px;
}
.secondDivDemoDay {
    margin-bottom: 80px;   
}
.firstDivDemoDay img, .textDivDemoDay{
    display: inline-block;
    vertical-align: top;
}
.textDivDemoDay {
    width: 488px; 
    text-align: left;
    margin-left: 45px;
}
.textDivDemoDay h1 {
    font-size: 20px;
    color: #ff871d;
    margin-bottom: 10px;
}
.textDivDemoDay p {
    font-size: 16px;
    color: #263238;
    line-height: 1.8;
}
.textDivDemoDay span {
    font-size: 16px;
    color: #ff871d;
    cursor: pointer;
}
.textDivDemoDay span img {
    position: relative;
    top: 5px;
}
/************ RESPONSIVE ***************/
@media(max-width:772px) {
    .firstDivDemoDay img, .textDivDemoDay, .secondDivDemoDay img, .textDivDemoDay {
        margin: 0 auto;
        margin-bottom: 50px;   
    }
    .textDivDemoDay span img {
        margin: 0;   
    }
    header h1{
        font-size: 45px;
    }
    header p{
        font-size: 14px;
    }
}
@media(max-width: 540px) {
    .firstDivDemoDay, .secondDivDemoDay {
        width: 100%;
    }
    .textDivDemoDay {
        width: 95%;
        margin: 0 auto;
    }
    .textDivDemoDay p, .textDivDemoDay h1 {
        padding: 0 10px;   
        word-break: break-all;
    }
}
@media(max-width: 480px) {
    header h1{
        font-size: 36px;
    }
    header p{
        padding: 0 54px;
    }
}
@media(max-width: 375px) {
    header {
        margin-top: 60px;   
    }
    header h1 {
        font-size: 30px;   
    }
    header p {
        font-size: 14px;   
    }
    .textDivDemoDay h1 {
        font-size: 16px;   
    }
    .textDivDemoDay p {
        font-size: 14px;   
    }
}
@media(max-width: 360px) {

    header p{
        padding: 0 30px;
    }
}
@media(max-width: 320px) {
    header h1{
        font-size: 26px;
    }
    header p{
        font-size: 11px;
        padding: 0 30px;
    }
}